
table,th,td, tr{
    border: 1px solid purple;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
/* width: 120px;
height: 120pxs; */
}

table {
border: rosybrown;
border-width: 50px;
}
legend{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
font-size: 30px;
padding-top: 20px;

}
form{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
color: purple
;

}

/* label:nth-child(3){
float: right;
padding-left: 150PX;
} */

nav:nth-child(1)  {
    width: 250px;
    display: block;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 50px;
    font-weight: bolder;
    color: blueviolet;
    float: left;
}

img {
width: 474px;
height: 316px;
padding-top: 150px;
padding-left: 0px;
padding-right: 300px;
}

p{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

main ul{
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
h1{
    font-family: Verdana, Geneva, Tahoma, sans-serif;

}
html{
    background-color: rgb(187, 175, 175);
}
